.cart-container {
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  margin-top: 100px;
  height: 500px;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.cart-total {
  margin-top: 10px;
  font-weight: bold;
}

button {
  margin-top: 10px;
}

button.buy-drugs {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

button.browse-drugs {
  background-color:green;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.b{
  margin:5px;
}
.b:hover {
  background-color: #fff; 
  color: green;
  border:solid 1px #4CAF50;
}
h2{
  color: #4CAF50;
}