<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="user-select: auto;">
  <div class="container-fluid " style="user-select: auto;">
      <i class="fa-solid fa-capsules"></i>
      <a class="navbar-brand text-success" href="#" style="user-select: auto;">eDrugs</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation" style="user-select: auto;">
          <span class="navbar-toggler-icon" style="user-select: auto;"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor03" style="user-select: auto;">
          <ul class="navbar-nav me-auto" style="user-select: auto;">
              <li class="nav-item" style="user-select: auto;">
                  <a class="nav-link" routerLink="/" style="user-select: auto;">Home
                      <span class="visually-hidden" style="user-select: auto;">(current)</span>
                  </a>
              </li>
              <li class="nav-item" style="user-select: auto;">
                  <a class="nav-link" href="#" style="user-select: auto;">Privacy</a>
              </li>
              <li class="nav-item" style="user-select: auto;">
                  <a class="nav-link" href="#" style="user-select: auto;">About</a>
              </li>
              <li class="nav-item dropdown" *ngIf="isloggedIn && role === 'Admin'"  style="user-select: auto;">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="user-select: auto;">
                      Action
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="user-select: auto;">
                      <a class="dropdown-item" routerLink="/supplier" style="user-select: auto;">Suppliers</a>
                      <a class="dropdown-item" routerLink="/drug" style="user-select: auto;">Drugs</a>
                      <a class="dropdown-item" routerLink="/dashboard" style="user-select: auto;">Users</a>
                      <a class="dropdown-item" routerLink="/orderdetails" style="user-select: auto;">Order Details</a>
                      <a class="dropdown-item" routerLink="/salesreport" style="user-select: auto;">Sales Report</a>
                  </div>
              </li>
              <li class="nav-item" *ngIf="isloggedIn && role === 'Doctor'" style="user-select: auto;">
                <a class="nav-link" routerLink="/drugdisplay" style="user-select: auto;">Buy Drugs</a>
            </li>
          </ul>
          <form class="d-flex" style="user-select: auto;">
              <h4 *ngIf="isloggedIn">Hello, {{fullName}}!</h4>
              <button *ngIf="isloggedIn" (click)="logout()" class="btn btn-danger b" type="submit" style="user-select: auto;">Logout</button>
              <button class="btn btn-success b" *ngIf="!isloggedIn" routerLink="/login" type="submit" style="user-select: auto;">Login</button>
              <button class="btn btn-success b" *ngIf="!isloggedIn" type="submit" routerLink="/signup" style="user-select: auto;">Sign Up</button>
          </form>
      </div>
  </div>
</nav>